/* phone */
@media only screen and (max-width: 37.5em) {
  #restaurants-list {    
    padding: 2rem 0;
  }

  #restaurants-list li {
    margin: 0 10% 2rem 10%;
    width: 80%;
  }
}

/* tablet portrait */
@media only screen and (max-width: 48em) and (min-width: 37.56em) {
  html {
    font-size: 50%;
  }

  #restaurants-list li {
    width: 45%;
    margin: 2.5%;
  }
}

/* @media only screen and (min-width: 64em) {
   .filter-heading {
    color: blue;
  }

} */

/* tablet landscape */
@media only screen and (max-width: 75em) and (min-width: 48em) {
  html {
    font-size: 56.25%;
  }

  #restaurants-list li {
    margin: 1.6%;
    width: 30%;
  }
}

@media only screen and (min-width: 64rem) and (max-width: 75rem) {
  html {
    font-size: 62.5%;
  }
}

/* big desktop */
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 80%;
  }
}