/* CSS Document */

/* ====================== Base Styles ====================== */

/* global reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

/* defines what 1 rem is */
html {
  font-size: 62.5%; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fdfdfd;
}

/* ====================== Navigation ====================== */

.navigation {
  width: 100%;
  height: 6rem;
  padding-top: 2.5rem;
  text-align: center;
  background-color: #252831;
}

.header-heading {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #f18200;
}

/* ====================== Map ====================== */
#map {
  height: 40rem;
  width: 100%;
  background-color: #ccc;
}

.footer a:hover, .inside-footer a:hover {
	color: #3397db;
	text-decoration: none;
}

/* ====================== Main Content ====================== */

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

.filter-options {
  width: 100%;
  height: 9.5rem;
  background-color: #3397DB;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}

.filter-heading {
  color: #fff;
  font-size: 2rem;
}

.filter-options select {
  font-size: 11pt;
  height: 3.5rem;
  margin-top: 1rem;
  padding: 0 1rem;
  width: 20rem;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  padding: 2rem 1.5rem;
}

#restaurants-list li {
  background-color: #fff;
  border: 0.2rem solid #ccc;
  margin: 1.5rem;
  min-height: 38rem;
  padding: 0 3rem 2.5rem;
  width: 27rem;
  list-style: none;
}

.restaurant-img {
  background-color: #ccc;
  display: block;
  width: 100%;
  min-height: 25rem;
}

#restaurants-list h1 {
  color: #f18200; 
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.3;
  margin: 2rem 0 1rem;
  text-transform: uppercase;
}

#restaurants-list p {
  font-size: 1.4rem;
}

#restaurants-list li a {
  background-color: #f18200;
  border-bottom: 0.3rem solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1.4rem;
  margin: 1.5rem 0 0;
  padding: 0.8rem 3rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Footer ====================== */

.footer {
  background-color: #444;
  color: #aaa;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  padding: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.footer a {
  color: #f18200;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.footer-text {
  margin-top: 0.5rem;
}

/* ====================== Breadcrumb ====================== */

#breadcrumb {
  padding: 1.5rem 4rem;
  list-style: none;
  background-color: #eee;
  font-size: 1.7rem;
  width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  padding: 0.8rem;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */
#inside-navigation {
  width: 50%;
}

.inside #map-container {
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
}

.inside #map {
  height: 100%;
  width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 1rem 3.1rem;
  width: 50%;
}

#restaurant-name {
  color: #f18200;
  font-size: 2.7rem;
  font-weight: 200;
  margin: 1.5rem 0 3rem;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
  padding: 0.2rem 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}

#restaurant-address {
  font-size: 1.6rem;
  margin: 1rem 0px;
}

#restaurant-hours {
  color: #666;
  font-size: 1.5rem;
}

#reviews-container {
  padding-top: 2rem;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 3.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

#reviews-list {
  font-size: 1.5rem;
  line-height: 1.5;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  list-style-type: none;
  margin-top: 3rem;
  padding: 2rem 2rem;
  width: 85%;
}

#reviews-list li p {
  margin-bottom: 1rem;
}

.inside-footer {
  background-color: #444;
  width: 50%;
}